<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>

    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <!-- buscador base -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-facultad" type="search" placeholder="Buscar">
        </div>
    </div>


    <!-- Para ranking -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-facultad" type="search" placeholder="Buscar por facultad">
            <img class="ico-search" src="../img/Lupa-facultad.png" alt="">
        </div>
    </div>
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-carrera" type="search" placeholder="Buscar por carrera">
            <img class="ico-search" src="../img/Lupa-carrera.png" alt="">
        </div>
    </div>
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-asignatura" type="search" placeholder="Buscar por asignatura">
            <img class="ico-search" src="../img/Lupa-asignatura.png" alt="">
        </div>
    </div>


    <!-- Para referencias -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-referencias" type="search" placeholder="Buscar referencias">
            <img class="ico-search" src="../img/Lupa-referencias.png" alt="">
        </div>
    </div>


    <!-- Para amigos -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-amigos" type="search" placeholder="Buscar amigos">
            <img class="ico-search" src="../img/Lupa-amigos.png" alt="">
        </div>
    </div>


    <!-- Para asignaturas -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-asignatura" type="search" placeholder="Buscar una asignatura">
            <img class="ico-search" src="../img/Lupa-asignatura.png" alt="">
        </div>
    </div>


    <!-- Para quiz -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-quiz" type="search" placeholder="Buscar un creador de quiz">
            <img class="ico-search" src="../img/Lupa-quiz.png" alt="">
        </div>
    </div>


    <!-- Para el apartado de Crear quiz -->
    <!-- Para asignatura -->
    <div class="row div-margin-20">
        <div class="container-search">
            <input class="browser browser-asignatura" type="search" placeholder="Buscar asignaturas">
            <img class="ico-search" src="../img/Lupa-asignatura.png" alt="">
        </div>
    </div>

</body>
</html>