<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card de jugador</title>

    <!-- Ubuntu -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Luckiest Guy -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container-card">
        <img src="../img/Person-icon.png" alt="">
        <h2>Mathias Mendoza</h2>
        <h3></h3>
        <div>
            <button>
                Ver perfil
            </button>
            <img src="../img/Question-icon.png" alt="">
        </div>
    </div>

    <!-- Por facultad -->
    <div class="row div-margin-20-auto">
        <div class="container-card card-ranking ranking-facultad">
            <div class="ranking-image">
                <img src="../img/Person-icon.png" alt="Person Icon">
            </div>
            <div class="ranking-text-1">
                <p>Barcia Jose</p>
            </div>
            <div class="ranking-conainer-score">
                <img src="../img/Star-score-ranking.png" alt="Star score">
                <p>55</p>
            </div>
            <div class="ranking-container-btn">
                <a href="#">
                    <button class="ranking-btn">
                        <p>Ver perfil</p>
                        <img src="../img/Question-icon.png" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- Por carrera -->
    <div class="row div-margin-20-auto">
        <div class="container-card card-ranking ranking-carrera">
            <div class="ranking-image">
                <img src="../img/Person-icon.png" alt="Person Icon">
            </div>
            <div class="ranking-text-1">
                <p>Anibal Almeida</p>
            </div>
            <div class="ranking-conainer-score">
                <img src="../img/Star-score-ranking.png" alt="Star score">
                <p>178</p>
            </div>
            <div class="ranking-container-btn">
                <a href="#">
                    <button class="ranking-btn">
                        <p>Ver perfil</p>
                        <img src="../img/Question-icon.png" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- Por asignatura -->
    <div class="row div-margin-20-auto">
        <div class="container-card card-ranking ranking-asignatura">
            <div class="ranking-image">
                <img src="../img/Person-icon.png" alt="Person Icon">
            </div>
            <div class="ranking-text-1">
                <p>Intriago Leo</p>
            </div>
            <div class="ranking-conainer-score">
                <img src="../img/Star-score-ranking.png" alt="Star score">
                <p>23</p>
            </div>
            <div class="ranking-container-btn">
                <a href="#">
                    <button class="ranking-btn">
                        <p>Ver perfil</p>
                        <img src="../img/Question-icon.png" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>