<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card de amigo</title>

    <!-- Sigmar One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">

    <!-- Ubuntu -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <!-- Bungee -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="row div-margin-5">
        <div class="container-card card-friend">
            <div class="container-card-friend-1">
                <div class="friend-image">
                    <img src="../img/Friend-icon.png" alt="">
                </div>
                <div class="friend-text">
                    <div>
                        <div class="friend-text-1">
                            <p>Anibal Almeida</p>
                        </div>
                        <div class="friend-text-2">
                            <p>Conectado</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-card-friend-2">
                <div class="container-friend-btn">
                    <a href="#">
                        <button class="friend-btn friend-btn-invite">
                            <img src="../img/Invite-Icon.png" alt="">
                        </button>
                    </a>
                </div>
                <div class="container-friend-btn">
                    <a href="#">
                        <button class="friend-btn friend-btn-review">
                            <p>Ver perfil</p>
                            <img src="../img/Question-icon.png" alt="">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>