<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card de referencia</title>

    <!-- Ubuntu -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="row div-margin-20">
        <div class="container-card card-reference">
            <div class="reference-image">
                <img src="../img/Book-default.png" alt="">
            </div>
            <div class="reference-text-1">
                <p>Fundamentals of informacion system</p>
            </div>
            <div class="reference-text-2">
                <p>Introduccion a los sistemas de informacion</p>
            </div>
            <div class="container-reference-btn">
                <a href="#">
                    <button class="reference-btn btn-review">
                        <p>Revisar</p>
                        <img src="../img/Question-icon.png" alt="">
                    </button>
                </a>
            </div>
            <div class="container-reference-btn">
                <a href="#">
                    <button class="reference-btn btn-share">
                        <p>Compartir</p>
                        <img src="../img/Share-icon.png" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>